.main__flex__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__contact {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
  padding: 20px 40px;
  margin-top: 55px;
  background: #161617a0;
  border-radius: 20px;
  border: #ffffff57 1px solid;
}

.main__contact__shadow__1 {
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 0px 20px 0px 0px;
  border-top: #ffffff57 1px solid;
  border-right: #ffffff57 1px solid;
  z-index: -1;
}

.main__contact__shadow__2 {
  display: block;
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 0px 0px 0px 20px;
  border-bottom: #ffffff57 1px solid;
  border-left: #ffffff57 1px solid;
  z-index: -1;
}

.main__contact__title {
  font-size: 72px;
  font-weight: 900;
  background-image: linear-gradient(to right, #ffffff, #ffffff66);
  -webkit-background-clip: text; /* Para navegadores WebKit como Chrome y Safari */
  color: transparent; /* Hace que el texto sea transparente */
  display: inline-block; /* Necesario para algunos navegadores */
}

.main__contact__subtitle {
  color: #ebe7e7cd;
  font-size: 18px;
  margin-top: -6px;
}

.title__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.header__contact__button__contact {
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.header__contact__button__contact:hover {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.picture__div {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.bg__shapes__contact {
  position: absolute;
  z-index: -1;
  top: 90px;
  right: 30px;
}

.contact__form__div {
  height: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact__data__span {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  width: 500px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 40px;
}

.contact__data__span__1 {
  font-size: 14px;
  color: #beb3b3bb;
}

.contact__data__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.contact__data__div__elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.signup__form__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.name__field {
  padding: 11px 10px;
  border-radius: 5px;
  background: #ffffff1c;
  color: #ffffffe2;
  font-size: 14px;
  border: 1px #ffffff47 solid;
  width: 100%;
}

.name__fields__div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.name__field:focus {
  outline: none;
}

.name__field__1:focus {
  outline: none;
}

.name__field__1 {
  padding: 11px 10px;
  border-radius: 5px;
  background: #ffffff1c;
  color: #ffffffe2;
  font-size: 14px;
  border: 1px #ffffff47 solid;
  width: 100%;
}

.Tell__us__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.tell__us__div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.message__field {
  padding: 10px;
  border-radius: 5px;
  background: #ffffff1c;
  color: #ffffffe2;
  font-size: 14px;
  border: 1px solid #ffffff47;
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho disponible */
  height: 150px;
}

.message__field:focus {
  outline: none;
}

.privacy__rights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.privacy__rights__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.privacy__rights__span {
  color: #ffffffdc;
  font-size: 14px;
}

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #c4c6cc;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #c4c6cc;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #03200b00;
  border-color: #c4c6cc;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.contact__crown {
  display: none;
}

.contact__crown__1 {
  display: none;
}

.bg__shapes__small__devices {
  display: none;
}

.button__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 10px;
}

.send__span {
  font-weight: 600;
  font-size: 14px;
}

.contact__picture__div {
  margin: auto;
  position: relative;
  width: fit-content;
  height: fit-content;
  background: #00000048;
  padding: 20px;
  margin: 20px;
  border-radius: 23px;
  display: flex; /* Se establece el contenedor como flex */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

.contact__bg {
  position: absolute;
  z-index: -1;
  width: 80%;
  top: -16%;
  right: 10%;
}

.field__label__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
  color: #ffffffe0;
  width: 100%;
}

.field__label__flex__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
  color: #ffffffe0;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .contact__bg {
    top: 0%;
    width: 85%;
  }
}

@media screen and (max-width: 1300px) {
  .bg__shapes__contact {
    right: -30px;
    width: 600px;
    height: 600px;
  }

  .contact__data__span {
    font-size: 28px;
    width: 450px;
  }

  .contact__data__span__1 {
    font-size: 13px;
  }

  .contact__data__div {
    gap: 15px;
  }

  .name__field {
    font-size: 13px;
  }

  .name__fields__div {
    width: 90%;
  }

  .field__label__flex {
    width: 90%;
  }

  .contact__picture__div {
    margin: 0px;
  }

  .main__contact {
    padding: 20px 20px;
    gap: 10px;
  }

  .name__field__1 {
    width: 100%;
    margin: auto;
    font-size: 13px;
  }

  .form__div__flex {
    gap: 40px;
  }

  .tell__us__div {
    gap: 18px;
  }

  .message__field {
    width: 100%;
    margin: auto;
    font-size: 13px;
  }
}

@media screen and (max-width: 1220px) {
  .main__contact {
    width: 85%;
  }

  .message__field {
    font-size: 13px;
  }

  .bg__shapes__contact {
    right: -35px;
    width: 600px;
    height: 600px;
  }

  .name__field__1 {
    font-size: 13px;
  }

  .contact__bg {
    width: 90%;
  }

  .contact__form__div {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 1130px) {
  .main__contact {
    width: 85%;
  }

  .main__contact__title {
    font-size: 60px;
  }

  .main__contact__subtitle {
    font-size: 17px;
  }

  .message__field {
    height: 170px;
    font-size: 13px;
  }

  .bg__shapes__contact {
    right: -35px;
    width: 600px;
    height: 600px;
  }

  .field__label__flex {
    width: 80%;
  }

  .name__fields__div {
    width: 80%;
  }

  .contact__data__span {
    width: 450px;
  }

  .name__field__1 {
    width: 100%;
    font-size: 13px;
  }

  .contact__form__div {
    padding: 10px 0px;
    width: 530px;
  }

  .main__contact {
    gap: 0px;
  }

  .contact__bg {
    width: 96%;
  }
}

@media screen and (max-width: 1080px) {
  .bg__shapes__contact {
    display: none;
  }

  .message__field {
    height: 190px;
    font-size: 13px;
  }

  .name__fields__div {
    width: 80%;
    gap: 20px;
  }

  .name__field {
    width: 100%;
  }

  .name__field__1 {
    font-size: 13px;
  }

  .main__contact {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .contact__form__div {
    padding: 20px 30px;
  }

  /* .contact__crown {
    display: block;
    position: absolute;
    z-index: -1;
    top: 14%;
    left: 16%;
  }

  .contact__crown__1 {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -11%;
    right: 16%;
  } */

  .main__contact {
    margin-bottom: 0px;
  }

  .contact__bg {
    width: 100%;
    top: 10%;
    right: -5%;
  }

  .contact__data__span {
    font-size: 25px;
    line-height: 35px;
    width: 400px;
  }

  .contact__form__div {
    padding: 10px 0px;
    width: 480px;
  }
  /* 
  .bg__shapes__small__devices {
    display: block;
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

@media screen and (max-width: 980px) {
  .contact__crown {
    left: 13%;
  }

  .contact__crown__1 {
    right: 13%;
  }

  .contact__picture__div {
    display: none;
  }

  .main__contact {
    width: fit-content;
    padding: 20px 40px;
  }

  .field__label__flex {
    width: 100%;
  }

  .name__fields__div {
    width: 100%;
  }

  .contact__data__span {
    font-size: 28px;
    width: 450px;
  }

  .contact__bg {
    width: 1200px;
    height: 900px;
    top: 5%;
  }
}

@media screen and (max-width: 860px) {
  /* .contact__crown {
    left: 10%;
    width: 180px;
    top: 18%;
  }

  .contact__crown__1 {
    right: 10%;
    bottom: -12%;
    width: 180px;
  } */

  .main__contact {
    margin-top: 55px;
  }

  .main__contact__title {
    font-size: 50px;
  }

  .title__div {
    margin-top: 5px;
  }

  .main__contact__subtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 780px) {
  .contact__crown {
    left: 6%;
    top: 16%;
  }

  .contact__crown__1 {
    right: 6%;
    bottom: -9%;
  }

  .field__label__flex {
    align-items: start;
  }
}

@media screen and (max-width: 710px) {
  /* .contact__crown {
    left: 5%;
    top: 17%;
    width: 150px;
  }

  .contact__crown__1 {
    right: 5%;
    bottom: -7%;
    width: 150px;
  } */

  .main__contact {
    margin-top: 50px;
  }

  .main__contact__title {
    font-size: 45px;
  }

  .main__contact__subtitle {
    font-size: 14px;
  }

  .message__field {
    height: 190px;
    font-size: 13px;
  }

  .name__field__1 {
    font-size: 13px;
  }

  .contact__form__div {
    padding: 10px 0px;
  }

  .field__label__flex {
    width: 90%;
  }

  .name__fields__div {
    width: 90%;
  }

  .main__contact {
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .contact__data__span {
    font-size: 25px;
  }

  .contact__data__span__1 {
    font-size: 12px;
  }

  .header__contact__button__contact {
    padding: 8px 14px;
    font-size: 13px;
  }

  .bg__shapes__small__devices {
    width: 115%;
    height: 120%;
    top: 62%;
  }
}

.field__label {
  font-size: 14px;
}

/* @media screen and (max-width: 710px) {
  .name__field {
    font-size: 12px;
  }

  .name__field__1 {
    font-size: 12px;
  }

  .privacy__rights__span {
    font: 12px;
  }

  .contact__crown {
    width: 150px;
    left: 4%;
  }

  .contact__crown__1 {
    right: 4%;
    bottom: -7%;
    width: 150px;
  }

  .contact__data__span {
    font-size: 23px;
  }

  .field__label {
    font-size: 12px;
  }

  .message__field {
    width: 120%;
    height: 220px;
  }

  .bg__shapes__small__devices {
    width: 125%;
    height: 120%;
    top: 62%;
  }
} */

.tell__us__div__1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 620px) {
  .contact__data__div {
    align-items: center;
  }

  .contact__data__span {
    width: 380px;
    font-size: 24px;
  }

  .signup__form {
    flex-direction: column;
    gap: 18px;
  }

  .signup__form__1 {
    gap: 18px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .field__label__flex {
    align-items: start;
    width: 80%;
  }

  .name__fields__div {
    width: 80%;
  }

  .tell__us__div__1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .tell__us__div {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .message__field {
    height: 200px;
  }

  .title__div {
    margin-top: 20px;
  }

  .privacy__rights__span {
    font-size: 12.5px;
  }

  .main__contact {
    width: 460px;
  }

  .error__message {
    font-size: 14px;
  }

  /* .contact__crown {
    width: 130px;
    left: 7%;
  }

  .contact__crown__1 {
    right: 7%;
    bottom: -19%;
    width: 130px;
  } */

  /* .bg__shapes__small__devices {
    width: 355%;
    height: 130%;
    top: 66%;
  } */
}

@media screen and (max-width: 570px) {
  .main__contact__shadow__1 {
    top: -15px;
    right: -15px;
  }

  .main__contact__shadow__2 {
    bottom: -15px;
    left: -15px;
  }

  .main__contact__title {
    font-size: 42px;
    margin: auto;
    width: fit-content;
  }

  .main__contact__subtitle {
    width: 400px;
    text-align: center;
    margin-top: 4px;
  }

  .field__label__flex {
    width: 72%;
    align-items: start;
  }

  .name__fields__div {
    width: 72%;
  }

  .main__contact {
    width: 420px;
  }

  .name__field {
    font-size: 12px;
  }

  .message__field {
    height: 220px;
  }

  .contact__data__span {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .main__contact {
    width: 370px;
    padding: 10px 0px;
  }

  .main__contact__shadow__1 {
    top: -15px;
    right: -15px;
    width: 300px;
    height: 300px;
  }

  .main__contact__title {
    font-size: 38px;
  }

  .main__contact__subtitle {
    font-size: 13px;
    width: 350px;
  }

  .main__contact__shadow__2 {
    bottom: -15px;
    left: -15px;
    width: 300px;
    height: 300px;
  }

  .field__label__flex {
    width: 62%;
  }

  .name__fields__div {
    width: 62%;
  }

  .contact__data__span {
    font-size: 20px;
    width: 300px;
  }

  .message__field {
    height: 230px;
  }

  .error__message {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .contact__crown {
    display: none;
  }

  .title__div {
    margin-top: 30px;
  }

  .main__contact__subtitle {
    font-size: 12.5px;
    width: 325px;
  }

  .main__contact__title {
    font-size: 34px;
  }

  /* .contact__crown__1 {
    display: none;
  } */

  .privacy__rights__span {
    font-size: 12px;
  }

  .message__field {
    height: 250px;
    font-size: 12px;
  }

  .contact__data__span {
    font-size: 18px;
    width: 300px;
    line-height: 25px;
  }

  .main__contact__shadow__1 {
    top: -12px;
    right: -12px;
  }

  .main__contact__shadow__2 {
    bottom: -12px;
    left: -12px;
  }

  .main__contact {
    width: 330px;
  }

  .field__label__flex {
    width: 58%;
  }

  .name__fields__div {
    width: 58%;
    gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .header__contact__button__contact {
    font-size: 12px;
  }

  .privacy__rights__span {
    font-size: 11px;
  }

  .message__field {
    font-size: 12px;
  }

  .name__fields__div {
    width: 52%;
  }

  .field__label__flex {
    width: 52%;
  }

  .main__contact {
    width: 310px;
  }

  .privacy__rights__label {
    margin: 0px;
    width: 250px;
    margin-top: 5px;
  }

  .button__submit {
    margin: 0px;
  }
  .privacy__rights__span {
    width: fit-content;
  }

  .main__contact__shadow__1 {
    width: 250px;
    height: 250px;
  }

  .main__contact__shadow__2 {
    width: 250px;
    height: 250px;
  }

  .main__contact__title {
    font-size: 30px;
  }
}
