.header__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 2.5rem;
}

.Skaili__logo {
  width: 8rem;
}

.header__elements__div {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-left: 30px;
}

.header__elements__services {
  color: #eff5ffc2;
  font-size: 14px;
  font-weight: 500;
}

.footer__links__span:hover {
  color: #eff5ffc2;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.header__contact__button {
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.header__contact__button:hover {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.carrusel__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  height: fit-content;
}

.carrusel__wrapper {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
  animation: scroll 22s linear infinite;
}

.carrusel__images {
  width: 500px;
  height: 300px;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-218em);
  }
}

.questions__main__div {
  background: #000;
  width: 55%;
  height: fit-content;
  padding: 1rem;
  position: relative;
}

.questions__main__div::after {
  content: "";
  position: absolute;
  inset: 10px;
  background: linear-gradient(
    to right,
    #dd00ffd6,
    #001affc9,
    #00c3ffc9,
    #00ffa2c1
  );
  filter: blur(1.2em);
  z-index: -1;
}

.question__main__span {
  color: #fff;
  margin-left: 10px;
}

.question__not__hidden__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  width: 100%;
}

.question__div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: all;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}

.question__div__1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: all;
  width: 100%;
  cursor: pointer;
}

.question__1__text {
  color: #bab3b3;
  font-size: 14px;
}

.header__nav__toggle-button {
  position: relative;
  margin-right: 3%;
  background: #ffffff00;
  box-shadow: none;
  border: none;
  display: none;
  margin-top: 8px;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: rgb(219, 211, 211);
  border-radius: 3.8px;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle .bars {
  margin-left: 8px;
}

#checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

#checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

.header__toggle__menu__div {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 20px 20px;
  background: #171414;
  position: absolute;
  top: 14%;
  right: min(4%, 10px); /* Menú inicialmente fuera de la pantalla */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.header__toggle__menu__div > div {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 25px;
}

.header__toggle__menu__div > div > a {
  color: #fff;
}

.header__toggle__menu__login {
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 7px 11px;
  color: #fff;
}

@media screen and (max-width: 1005px) {
  .carrusel__images {
    width: 425px;
    height: 270px;
  }

  .questions__main__div {
    width: 65%;
  }
}

@media screen and (max-width: 950px) {
  .header__elements__div {
    display: none; /* Oculta la navegación en pantallas más pequeñas */
  }

  .header__contact__button {
    display: none;
  }

  .header__nav__toggle-button {
    display: block; /* Muestra el botón en pantallas más pequeñas */
  }

  .header__toggle__menu__div {
    display: block; /* Muestra el botón en pantallas más pequeñas */
  }

  .carrusel__images {
    width: 425px;
    height: 270px;
  }

  .questions__main__div {
    font-size: 16px;
    width: 70%;
  }

  .question__1__text {
    font-size: 14px;
  }

  .questions__main__div::after {
    filter: blur(1em);
  }
}

@media screen and (max-width: 780px) {
  .questions__main__div {
    font-size: 15px;
    width: 80%;
  }

  .question__1__text {
    font-size: 13px;
  }

  .questions__main__div::after {
    filter: blur(1em);
  }

  .carrusel__images {
    width: 400px;
    height: 250px;
  }

  .carrusel__wrapper {
    gap: 180px;
  }

  .Skaili__logo {
    width: 7rem;
  }

  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-171em);
    }
  }
  
}

@media screen and (max-width: 610px) {
  .questions__main__div {
    font-size: 14px;
    width: 80%;
  }

  .question__1__text {
    font-size: 12px;
  }

  .Skaili__logo {
    width: 6rem;
  }
}

@media screen and (max-width: 550px) {
  .carrusel__images {
    width: 380px;
    height: 220px;
  }
}

@media screen and (max-width: 455px) {
  .questions__main__div {
    font-size: 13px;
    width: 80%;
  }

  .question__1__text {
    font-size: 11px;
  }
}

@media screen and (max-width: 415px) {
  .carrusel__images {
    width: 360px;
    height: 190px;
  }

  .Skaili__logo {
    width: 5rem;
  }

  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-144em);
    }
  }

}
