.main__page__main__section__div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 10rem;
}

.main__page__main__title {
  font-size: 70px;
  background-image: linear-gradient(to right, #ffffff, #ffffff66);
  -webkit-background-clip: text; /* Para navegadores WebKit como Chrome y Safari */
  color: transparent; /* Hace que el texto sea transparente */
  display: inline-block; /* Necesario para algunos navegadores */
  text-align: center;
  line-height: 85px;
}

.main__page__bg__colors {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.main__page__main__div {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}

.main__page__main__description {
  color: #ffffff;
  width: 40%;
  text-align: center;
  line-height: 24px;
}

.main__page__main__button {
  color: black;
  font-weight: 600;
  background: #fff;
  padding: 4px 4px;
  padding-left: 18px;
  border-radius: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__page__main__button:hover {
  color: #fff;
  font-weight: 600;
  background: transparent;
  padding: 4px 4px;
  padding-left: 18px;
  border-radius: 30px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.services__section {
  margin-top: 15%;
  position: relative;
  width: 100vw;
  height: fit-content;
}

.services__main__div {
  width: 100vw;
  height: 112vh;
  padding: 10% 5%;
  background-image: url("./assets/Lines_bg.png");
}

.services__main__title {
  font-size: 60px;
  color: rgb(152, 147, 147);
}

.services__main__flex__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient__services__image {
  position: absolute;
  z-index: -1;
  bottom: -30%;
}

.services__web__creation__div {
  position: relative;
  background: #32323253;
  border-radius: 16px;
  border: 0.6px rgba(255, 255, 255, 0.626) solid;
  padding: 15px 25px;
}

.services__main__flex__div__2 {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.web__creation__span {
  color: #fff;
  font-size: 18px;
}

.web__creation__span__brackets {
  color: #d5d5d5d1;
  font-size: 12px;
}

.ul__services {
  margin-left: 25px;
  margin-top: 15px;
  list-style-type: disc;
}

.ul__services > li {
  color: #fff;
  margin-bottom: 10px;
  max-width: 700px;
}

.ServicesTech__image {
  width: 460px;
  height: 440px;
  background-image: url("./assets/ServicesTech.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.services__main__left__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.services__alert__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 800px;
}

.services__alert__span {
  color: #ffffffb8;
  font-size: 14px;
}

.services__alert__svg {
  width: 80px;
  height: 80px;
}

.how_we_work__section {
  margin-top: 350px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__work__div {
  width: fit-content;
  height: fit-content;
  background-color: #000;
  background-image: url("./assets/Topographic.png");
  background-size: cover;
  border-top: 0.2px solid #91a1c567;
  padding: 50px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
}

.how_we_work__title {
  font-size: 55px;
  color: rgb(152, 147, 147);
}

.main__work__div__flex__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__content__div {
  background: linear-gradient(to bottom, #42424235, #00000038);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 0.2px solid #ffffff3b;
  border-radius: 10px;
  border-bottom: 0px;
  padding: 20px 20px;
}

.work__contact__span {
  color: #fff;
}

.work__contact__button {
  background: #fff;
  font-weight: 700;
  color: #000;
  padding: 8px 18px;
  font-size: small;
  border-radius: 7px;
}

.work__email__div {
  background: linear-gradient(to bottom, #4646463a, #00000032);
  width: 340px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 0.2px solid #ffffff3e;
  border-radius: 10px;
  border-bottom: 0px;
  padding: 20px 20px;
}

.work__email__span {
  color: #fff;
  text-align: center;
}

.work__line1 {
  background: #fff;
  width: 1px;
  height: 50px;
}

.work__line2 {
  background: #fff;
  width: 120px;
  height: 0.8px;
  margin-bottom: 80px;
}

.main__work__div__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.work__deliver__span {
  color: #fff;
  font-size: 13.4px;
  text-align: center;
}

.work__shape1 {
  position: absolute;
  top: 0;
  right: 50px;
}

.work__shape2 {
  position: absolute;
  left: 0;
  bottom: 50px;
}

.work__shape3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main__work__bg {
  position: absolute;
  z-index: -1;
}

.questions__section {
  margin-top: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 300px;
}

.questions__title {
  font-size: 55px;
  color: rgb(152, 147, 147);
}

.footer__section {
  position: relative;
  width: 99vw;
  height: fit-content;
}

.footer__div {
  position: relative;
  background: #000;
  width: 100%;
  height: 300px;
  border-top: 0.5px solid #ffffff58;
  border-radius: 25px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__bg {
  position: absolute;
  z-index: -1;
  bottom: 0px;
}

.footer__links__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.footer__links__span {
  color: #eff5ffb5;
  font-size: 14px;
}

.header__contact__button__footer {
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.header__contact__button__footer:hover {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.footer__mid__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rights__span {
  color: #eff5ffc6;
  font-size: 14px;
}

.services__web__creation__div__shadow {
  display: block;
  position: absolute;
  bottom: -20;
  right: -16px;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 16px;
  border-right: 0.6px rgba(255, 255, 255, 0.626) solid;
  border-bottom: 0.6px rgba(255, 255, 255, 0.626) solid;
}

.services__main__flex__div__2 {
  gap: 100px;
}

@media screen and (max-width: 1500px) {
  .services__main__div {
    width: 100vw;
    height: 125vh;
    padding: 10rem 30px;
    background-position: center;
    background-size: cover;
  }

}

@media screen and (max-width: 1350px) {
  .ul__services > li {
    max-width: 640px;
  }

  .services__alert__div {
    max-width: 90%;
  }

  .services__main__flex__div__2 {
    gap: 3%;
  }
}

@media screen and (max-width: 1220px) {
  .services__main__div {
    background-position: center;
    background-size: cover;
  }
  .services__main__div {
    height: 113vh;
    padding: 11rem 40px;
  }

  .ServicesTech__image {
    width: 320px;
    height: 300px;
    background-size: contain;
    background-position: center;
  }

  .services__main__flex__div {
    margin-top: -30px;
  }
  .services__web__creation__div {
    background: #32323253;
    border-radius: 16px;
    border: 0.6px rgba(255, 255, 255, 0.626) solid;
    padding: 14px 18px;
  }

  .web__creation__span {
    color: #fff;
    font-size: 16px;
  }

  .web__creation__span__brackets {
    color: #d5d5d5d1;
    font-size: 12px;
  }

  .ul__services {
    margin-left: 25px;
    margin-top: 15px;
    list-style-type: disc;
  }

  .services__main__title {
    font-size: 55px;
  }

  .ul__services > li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .web__creation__div {
    margin-bottom: 10px;
  }

  .services__main__flex__div {
    gap: 30px;
    margin-top: -40px;
  }

  .gradient__services__image {
    top: 0%;
  }

  .main__work__div {
    gap: 30px;
    padding: 40px 130px;
  }

  .how_we_work__title {
    font-size: 50px;
  }

  .work__contact__span {
    font-size: 14px;
  }

  .work__email__span {
    font-size: 14px;
  }

  .work__content__div {
    background: linear-gradient(to bottom, #5050500c, #00000000);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 0.2px solid #ffffff3b;
    border-radius: 10px;
    border-bottom: 0px;
    padding: 22px 20px;
  }

  .work__email__div {
    background: linear-gradient(to bottom, #5050500c, #00000000);
    width: 305px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border: 0.2px solid #ffffff3b;
    border-radius: 10px;
    border-bottom: 0px;
    padding: 20px 15px;
  }

  .main__work__bg {
    width: 1800px;
    height: 1200px;
  }

  .how_we_work__section {
    margin-top: 250px;
  }

  .questions__section {
    margin-top: 270px;
    margin-bottom: 200px;
  }

  
  .ul__services > li {
    max-width: 600px;
    font-size: 13px;
  }

  .services__alert__div {
    max-width: 85%;
  }

  .services__alert__span {
    font-size: 13px;
    width: 220%;
  }

  .services__main__flex__div__2 {
    gap: 0%;
  }

  .services__main__div {
    padding: 11rem 30px;
  }
}

.services__lines {
  display: none;
}

@media screen and (max-width: 1060px) {

  .ServicesTech__image {
    display: none;
  }

  .ul__services > li {
    max-width: 650px;
    font-size: 14px;
  }

  .services__lines {
    display: block;
  }

  .gradient__services__image {
    width: 900px;
    height: 100%;
    bottom: 0%;
  }
}

@media screen and (max-width: 1005px) {
  .main__page__main__title {
    font-size: 60px;
    line-height: 75px;
  }

  .main__page__main__description {
    font-size: 14px;
    width: 50%;
  }

  .main__page__main__section__div {
    gap: 8rem;
  }

  .services__main__div {
    height: 113vh;
    padding: 10rem 40px;
    background-size: cover;
  }


  .services__main__title {
    font-size: 50px;
  }

  .services__web__creation__div {
    padding: 12px 16px;
  }

  .web__creation__span {
    color: #fff;
    font-size: 14px;
  }

  .web__creation__span__brackets {
    color: #d5d5d5d1;
    font-size: 11px;
  }

  .ul__services {
    margin-left: 25px;
    margin-top: 14px;
    list-style-type: disc;
  }

  .ul__services > li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .web__creation__div {
    margin-bottom: 10px;
  }

  .services__main__flex__div {
    gap: 30px;
    margin-top: 0px;
  }

  .gradient__services__image {
    top: 0%;
  }

  .how_we_work__section {
    margin-top: 170px;
  }

  .main__work__div {
    gap: 20px;
    padding: 20px 100px;
  }

  .how_we_work__title {
    font-size: 40px;
  }

  .work__contact__span {
    font-size: 12px;
  }

  .work__email__span {
    font-size: 12px;
  }

  .work__contact__button {
    background: #fff;
    font-weight: 700;
    color: #000;
    padding: 7px 12px;
    font-size: 12px;
  }

  .work__content__div {
    background: linear-gradient(to bottom, #5050500c, #00000000);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 0.2px solid #ffffff3b;
    border-radius: 10px;
    border-bottom: 0px;
    padding: 18px 18px;
  }

  .work__email__div {
    background: linear-gradient(to bottom, #5050500c, #00000000);
    width: 260px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border: 0.2px solid #ffffff3b;
    border-radius: 10px;
    border-bottom: 0px;
    padding: 20px 15px;
  }

  .main__work__bg {
    width: 1000px;
    height: 1000px;
  }

  .work__deliver__span {
    font-size: 11.5px;
  }

  .services__section {
    margin-top: 20%;
  }

  .questions__title {
    font-size: 45px;
  }

  .questions__section {
    margin-top: 250px;
    margin-bottom: 180px;
    gap: 50px;
  }
}

@media screen and (max-width: 905px) {
  .footer__links__div {
    gap: 100px;
  }

  .services__main__div {
    background-position: center;
    background-size: cover;
  }
  .ServicesTech__image {
    width: 250px;
    height: 230px;
  }

  .services__web__creation__div {
    padding: 12px 16px;
    width: 620px;
  }

  .services__alert__div {
    width: 100%;
  }

  .services__alert__span {
    font-size: 12px;
  }

  .services__main__flex__div {
    margin-top: -20px;
  }

  .main__work__div {
    gap: 20px;
    padding: 20px 80px;
  }
}

.services__title__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}



@media screen and (max-width: 850px) {
  .ServicesTech__image {
    display: none;
  }

  .services__lines {
    display: block;
  }

  .services__web__creation__div__shadow {
    display: block;
    position: absolute;
    bottom: -20;
    right: -20;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 16px;
    border-right: 0.6px rgba(255, 255, 255, 0.626) solid;
    border-bottom: 0.6px rgba(255, 255, 255, 0.626) solid;
  }

  .gradient__services__image {
    width: 900px;
    height: 100%;
    bottom: 0%;
  }

  .work__line2 {
    width: 80px;
  }

  .questions__section {
    margin-top: 200px;
  }

  .how_we_work__section {
    margin-top: 160px;
  }

}

@media screen and (max-width: 780px) {
  .footer__links__div {
    gap: 80px;
  }

  .services__web__creation__div {
    width: 550px;
  }

  .services__main__flex__div {
    gap: 15px;
    margin-top: -35px;
  }

  .ul__services > li {
    font-size: 13px;
  }

  .main__page__main__title {
    font-size: 52px;
    line-height: 70px;
  }

  .main__page__main__button {
    padding: 10px 14px;
    gap: 0px;
  }

  .main__button__svg {
    display: none;
  }

  .main__page__main__description {
    font-size: 13px;
    width: 60%;
  }
  .work__email__div {
    width: 240px;
  }

  .how_we_work__title {
    font-size: 35px;
  }

  .work__contact__svg {
    width: 35px;
  }

  .work__contact__span {
    font-size: 11.2px;
  }

  .main__work__div {
    padding: 20px 60px;
  }

  .footer__div {
    height: 270px;
    gap: 40px;
    justify-content: center;
  }

  .footer__links__div {
    width: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .work__line2 {
    width: 60px;
  }

  .work__contact__svg {
    width: 30px;
  }

  .work__contact__span {
    font-size: 10px;
  }

  .work__email__div {
    width: 225px;
  }

  .main__work__div {
    padding: 20px 50px;
  }

  .questions__title {
    font-size: 40px;
  }

  .rights__span {
    font-size: 13px;
  }

  .how_we_work__section {
    margin-top: 130px;
  }
}

.work__line1__1 {
  display: none;
}

.main__work__div__2row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__work__div__1row {
  display: none;
}

@media screen and (max-width: 650px) {
  .services__main__title {
    font-size: 45px;
  }

  .services__web__creation__div {
    width: 500px;
  }
}

@media screen and (max-width: 610px) {
  .footer__links__div {
    gap: 50px;
  }

  .main__work__div__2row {
    display: none;
  }

  .main__work__div__1row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__links__span {
    font-size: 14px;
  }

  .header__contact__button__footer {
    font-size: 14px;
    padding: 8px 14px;
  }

  .main__page__main__title {
    font-size: 45px;
    line-height: 60px;
  }

  .main__page__main__description {
    width: 70%;
    font-size: 12.5px;
  }

  .main__page__main__button {
    font-size: 12px;
  }

  .work__line2 {
    width: 60px;
  }

  .work__contact__svg {
    width: 30px;
  }

  .work__contact__span {
    font-size: 12px;
  }

  .work__content__div {
    padding: 15px 15px;
    width: 320px;
  }

  .work__email__div {
    width: 320px;
    padding: 15px 15px;
    height: 140px;
  }

  .main__work__div {
    padding: 20px 50px;
  }

  .questions__title {
    font-size: 40px;
  }

  .rights__span {
    font-size: 13px;
  }

  .how_we_work__section {
    margin-top: 130px;
  }

  .main__work__div__flex {
    flex-direction: column;
  }

  .work__line1 {
    height: 30px;
  }

  .work__line2 {
    display: none;
  }

  .main__work__div__flex {
    justify-content: center;
    align-items: center;
  }

  .work__line1__1 {
    display: block;
    background: #fff;
    width: 1px;
    height: 30px;
  }

  .main__work__bg {
    position: absolute;
    z-index: -1;
    height: 205%;
    width: 1000px;
  }

  .questions__section {
    gap: 40px;
  }

  .services__main__title {
    font-size: 40px;
  }

  .services__lines {
    width: 70px;
  }

  .services__alert__div {
    width: 600px;
  }

  .services__main__flex__div {
    margin-top: -20px;
  }

  .services__web__creation__div {
    width: 455px;
  }
}

@media screen and (max-width: 550px) {
  .main__page__bg__colors {
    top: -40px;
    left: -40px;
  }

  .main__page__main__description {
    font-size: 11.5px;
  }

  .services__main__div {
    background-position: center;
    background-size: cover;
  }

  .services__web__creation__div {
    width: 400px;
  }

  .services__title__div {
    gap: 20px;
  }

  .how_we_work__title {
    font-size: 35px;
  }

  .questions__title {
    font-size: 35px;
  }

  .footer__div {
    height: 230px;
    gap: 25px;
  }

  .footer__links__div {
    gap: 45px;
  }

  .services__alert__div {
    width: 550px;
  }

  .services__alert__span {
    font-size: 11px;
  }

  .services__alert__svg {
    width: 60px;
  }

}

@media screen and (max-width: 500px) {
  .main__page__main__title {
    font-size: 38px;
    line-height: 50px;
  }

  .footer__links__div {
    gap: 35px;
  }

  .footer__links__span {
    font-size: 12px;
  }

  .header__contact__button__footer {
    font-size: 12px;
  }

  .rights__span {
    font-size: 12px;
  }

  .services__alert__div {
    width: 500px;
  }
}


.services__special__li {
  display: none;
}

@media screen and (max-width: 455px) {
  .services__web__creation__div {
    width: 340px;
  }

  .services__alert__div {
    display: none;
  }

  .services__main__title {
    font-size: 40px;
  }

  .how_we_work__title {
    font-size: 32px;
  }

  .work__content__div {
    width: 280px;
  }

  .work__email__div {
    width: 280px;
  }

  .questions__title {
    font-size: 38px;
    width: 250px;
    margin: auto;
    text-align: center;
  }

  .ul__services >li {
    font-size: 12.5px;
  }

  .services__special__li {
    display: list-item;
  }
}

@media screen and (max-width: 415px) {
  .footer__links__div {
    gap: 30px;
  }

  .work__content__div {
    width: 260px;
    height: 140px;
  }

  .work__contact__span {
    font-size: 11px;
  }

  .work__contact__button {
    font-size: 11px;
  }

  .work__email__div {
    width: 260px;
    height: 140px;
  }

  .work__email__span {
    font-size: 11px;
  }

  .main__page__main__title {
    font-size: 35px;
    line-height: 48px;
  }

  .questions__title {
    font-size: 35px;
  }

  .how_we_work__section {
    margin-top: 100px;
  }

  .services__web__creation__div {
    width: 320px;
    padding: 12px 12px;
  }

  .ul__services {
    margin-left: 16px;
  }
}

@media screen and (max-width: 395px) {
  .main__page__main__description {
    font-size: 11px;
    width: 75%;
  }


  .main__page__main__title {
    font-size: 32px;
    line-height: 45px;
  }

  .services__web__creation__div {
    width: 290px;
  }

  .services__main__flex__div {
    gap: 10px;
    margin-top: -25px;
  }

  .ul__services > li {
    font-size: 11.5px;
  }

  .main__work__div {
    padding: 20px 35px;
  }

  .work__email__div {
    padding: 10px 10px;
    height: 130px;
    width: 260px;
  }

  .work__content__div {
    padding: 10px 10px;
    height: 130px;
    width: 260px;
  }

  .questions__section {
    gap: 30px;
    margin-bottom: 150px;
  }



  .how_we_work__title {
    font-size: 30px;
  }

  .footer__links__div {
    gap: 25px;
  }

  .footer__links__span {
    font-size: 11px;
  }

  .header__contact__button__footer {
    font-size: 11px;
  }

  .rights__span {
    font-size: 11px;
  }
}
